<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.spi"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />
	
	<!--  Internet Permissions -->
	<uses-permission android:name="android.permission.INTERNET" />
    
    <application
        android:allowBackup="true"
        android:name=".Global"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.spi.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.example.spi.MenuPrincipalActivity"
            android:label="@string/app_name"
            android:parentActivityName="com.example.spi.LoginActivity" >
        </activity>
        
        <activity
            android:name="com.example.spi.MenuAvisosActivity"
            android:label="@string/app_name"
            android:parentActivityName="com.example.spi.MenuPrincipalActivity" >
        </activity>
        
        <activity
            android:name="com.example.spi.Parqueo"
            android:label="@string/app_name"
            android:parentActivityName="com.example.spi.MenuPrincipalActivity" >
        </activity>
        
    	<activity
            android:name="com.example.spi.BuscarGarajesActivity"
            android:label="@string/app_name"
            android:parentActivityName="com.example.spi.MenuPrincipalActivity" >
        </activity>
        
    	<activity
            android:name="com.example.spi.ParqueosDisponiblesActivity"
            android:label="@string/app_name"
            android:parentActivityName="com.example.spi.BuscarGarajesActivity" >
        </activity>
        
    	<activity
            android:name="com.example.spi.FechaReservacionActivity"
            android:label="@string/app_name"
            android:parentActivityName="com.example.spi.ParqueosDisponiblesActivity" >
        </activity>
    	
    	<activity
            android:name="com.example.spi.AvisosVigentesActivity"
            android:label="@string/app_name"
            android:parentActivityName="com.example.spi.MenuAvisosActivity" >
        </activity>
    	
    </application>
    
</manifest>
